
body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: #FAF9F6;
  color: #3D5A40;
}
.hero {

  background-image: url('hero2.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  display: flex;

  align-items: center;

  justify-content: center;

  text-align: center;

  color: #FAF9F6;

}

.btn-primary {

  background: #3D5A40;

  color: white;

  padding: 12px 28px;

  border-radius: 4px;

  text-decoration: none;

}
 

.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
  background: #F6E7E4;
}
.feature h3 {
  max-width: 200px;
}
.site-footer {
  text-align: center;
  padding: 20px;
  background: #3D5A40;
  color: white;
}
